<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos Turísticos del Perú</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

</style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            🌎 Turismo Perú
        </a>

        <div class="ms-auto">

            <a href="{% url 'agregar_destino' %}"
               class="btn btn-success">
                ➕ Nuevo Destino
            </a>

        </div>

    </div>

</nav>

    <div class="bg-primary text-white text-center py-5 shadow">

    <h1 class="display-4 fw-bold">
        🌎 Destinos Turísticos del Perú
    </h1>

    <p class="lead">
        Descubre los lugares más increíbles de nuestro país
    </p>

</div>

    <div class="container mt-5">

    <div class="row">

            {% for destino in destinos %}

            <div class="col-md-6 col-lg-4 mb-4">

                <div class="card shadow h-100">

                    <img src="{{ destino.imagenCiudad.url }}"
                         class="card-img-top"
                         alt="{{ destino.nombreCiudad }}"
                         style="height:250px; object-fit:cover;">

                    <div class="card-body">

                        <h3 class="card-title">
                            {{ destino.nombreCiudad }}
                        </h3>

                        <p class="card-text">
                            {{ destino.descripcionCiudad }}
                        </p>

                        <h5>
                            S/. {{ destino.precioTour }}
                        </h5>

                        {% if destino.ofertaTour %}
                            <span class="badge bg-danger">
                                🔥 OFERTA ESPECIAL
                            </span>
                        {% endif %}

                        <div class="mt-3">

    <a href="{% url 'editar_destino' destino.id %}"
       class="btn btn-warning btn-sm">
        ✏️ Editar
    </a>

    <a href="{% url 'eliminar_destino' destino.id %}"
       class="btn btn-danger btn-sm">
        🗑️ Eliminar
    </a>

</div>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>
<footer class="bg-dark text-white text-center py-4 mt-5">

    <h5>🌎 Turismo Perú</h5>

    <p class="mb-0">
        Proyecto desarrollado con Django y Bootstrap
    </p>

    <small>
        Laboratorio 08 - Destinos Turísticos
    </small>

</footer>
</body>
</html>